{% extends 'base.html.twig' %}

{% block title %}LoneWolf combat endurances {{p}}{% endblock %}
 {% block header %} 
  {{ include('entete/_entetefight.html.twig') }}
{% endblock %} 


{% block body %}

{{form_start(FormEnd)}}
<div hidden>
    {{ form_widget(FormEnd.endL,{'label':end,'attr': {'readonly':true}} ) }}
    {{ form_widget(FormEnd.endE, {'label':ennemyEnd, 'attr': {'readonly':true}} ) }}
</div>
     </br>  
     
    {{form_label(FormEnd.combat)}}
    {{ form_widget(FormEnd.combat,{'label': "GO"}) }}

{{ form_end(FormEnd) }}


{% endblock %}