{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <!--Illustration VII -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/ill7.png') }}" alt="The clash of steel and the cries of men and beasts echo through the forest." />
    </div>
    <p>
        Ahead of you, you can see a fierce battle raging across a stone bridge. The clash of steel and the cries of men and beasts echo through the forest. In the midst of the fighting, you see Prince Pelathar, the King’s son. He is in combat with a large grey Gourgaz who is wielding a black axe above his scaly head. Suddenly, the Prince falls wounded a black arrow in his side.
    </p>
    </br>
    <p>If you wish to defend the fallen Prince. 
            <a class="col-12 mt-5" href="
            {{ path('page_255', {'heroId':heroId }) }} 
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 255. #}
    </p>
    </br>
    <p>If you wish to run into the forest. 
            <a class="col-12 mt-5" href="
            {{ path('page_306', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 306. #}
    </p>
</br>
</div>

{% endblock %}