{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    <!--Illustration -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/sillu2.png') }}" alt="" />
    </div>
    <p>
    TEXTE DU CHAPITRE

    </p>
    </br>
    {% for infoHero in hero %}

    {# OPTIONS DE CHOIX SI COMP #}
        {% if infoHero.kaiSix %}
            <p>  TEXTE AVANT LE LIEN          
            {#        lien vers la page suivante           #}
                <a class="col-12 mt-5" href="
                {# changer les num de page ci dessous #}
                {# {{ path('page_141', {'heroId':heroId }) }}  #} 
                ">
                    <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
                </a>
                {# turn to 141.  #}
            </p>
        {% endif %}
        </br>
    <p>OPTION DE CHEMIN 1. 
            <a class="col-12 mt-5" href="
            {# {{ path('page_85', {'heroId':heroId }) }} #}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 85. #}
    </p>
    </br>
    <p>OPTION DE CHEMIN 2. 
            <a class="col-12 mt-5" href="
            {# {{ path('page_275', {'heroId':heroId }) }} #}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
        {# turn to 275. #}
    </p>


    {% endfor %}
     </br>
</div>

{% endblock %}