{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{% set handItemCount = 0 %}
{% set bpItemsCount = 0 %}
{% for item in items %}
    {% if item.place is same as ('hand') %}
            {% set handItemCount = handItemCount + 1 %}
    {% endif %}
    {% if item.place is same as ('backpack') %}
        {% set bpItemsCount = bpItemsCount + 1 %}
    {% endif %} 
{% endfor %}

<div>
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/sillu22.png') }}" alt="a Kraan flying above" />
    </div>
    <p>
        You hear the scream of a large winged beast above the trees. It is a Kraan, a deadly servant of the Darklords. Quickly you hide beneath the thick fronds of fern until the horrible shrieks have passed away.
    </p>
    </br>
    {% for infoHero in hero %}
    
    </br>
    <p>
        <a class="col-12 mt-5" href="
            {{ path('page_222', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowR.png') }}" />
            </a>
            {# turn to 222. #}
    </p>
    </br>
    
    
    {% endfor %}
</div>

{% endblock %}