{% extends 'base.html.twig' %}

{% block title %}LoneWolf chapitre {{p}}{% endblock %}

{% block header %}
    {{ include('entete/_entetehero.html.twig') }}    
{% endblock %}

{% block body %}

{# places dans l'inventaire #}
    {% set handItemCount = 0 %}
    {% set bpItemsCount = 0 %}
    {% for item in items %}
        {% if item.place is same as ('hand') %}
                {% set handItemCount = handItemCount + 1 %}
        {% endif %}
        {% if item.place is same as ('backpack') %}
            {% set bpItemsCount = bpItemsCount + 1 %}
        {% endif %} 
    {% endfor %}

<div>
    
    <p>
    Coming Soon ! The Book 2 of the Lone Wolf adventures: fire on the Water.

    </p>

    </br>
    <!--Illustration -->
    <div class="d-flex justify-content-center mb-5">
        <img src="{{ asset ('assets/img/wolf.png') }}" alt="wplf head" />
    </div>
    </br>
    <p> 
            <a class="col-12 mt-5 skull" href="
            {{ path('menu', {'heroId':heroId }) }}
            ">
                <img style="width:100px;" src="{{ asset ('assets/img/ArrowL.png') }}" />
                <h3>Menu</h3>
            </a>
            
            {# turn to menu. #}
    </p>
    

  
     </br>
</div>

{% endblock %}