{% extends 'base.html.twig' %}

{% block title %}LoneWolf A propos...{% endblock %}

{% block header %}
    {{ include('entete/_entetemenu.html.twig') }}    
{% endblock %}

{% block body %}
<div class="d-block row justify-content-start mt-3 px-0 " id="menuList">
<!-- Options toujours présentes -->
    <a class="d-flex text-decoration-none my-5 justify-content-center" href="{{ path('appli')}}">
        <div class="">
            <img class="img-fluid icone" src="{{ asset ('assets/img/ico-openbook.png') }}"/>
            <p class="display-6 ">Infos</p>
        </div>
    </a>
    

    <a class="d-flex text-decoration-none mt-5 mb-2 justify-content-center" href="{{ path('Auteur')}}">
        <div class="">
            <img class="img-fluid icone" src="{{ asset ('assets/img/ico-quill.png') }}"/>
            <p class="display-6" >La développeuse </p>
        </div>
    </a>


    <div class="d-flex ">
        <a class="col-12 mt-5" href="{{ path('menu')}}">
            <img class="fleches mt-5" src="{{ asset ('assets/img/ArrowL.png') }}" />
        </a>
    </div>
    </br>
</div>
{% endblock %}
