{% extends 'base.html.twig' %}

{% block title %}LoneWolf A propos...{% endblock %}

{% block header %}
    {{ include('entete/_entetemenu.html.twig') }}    
{% endblock %}

{% block body %}
<div class="text-align-center">
<!-- Options toujours présentes -->
    <a class="d-flex text-decoration-none mt-3 justify-content-center" href="{{ path('appli')}}">
        <div class="col-3 mt-3 "><img class="img-fluid icone" src="{{ asset ('assets/img/ico-openbook.png') }}"/></div>
        <p class="display-4 mt-5">Infos sur l'appli</p>
    </a>
    

    <a class="d-flex text-decoration-none mt-3 justify-content-center" href="{{ path('Auteur')}}">
        <div class="col-3  "><img class="img-fluid icone" src="{{ asset ('assets/img/ico-quill.png') }}"/></div>
        <p class="display-4  mt-5" >La développeuse </p>
    </a>


    <div class="d-flex ">
        <a class="col-12 mt-5" href="{{ path('menu')}}">
            <img style="width:100px;" src="{{ asset ('assets/img/ArrowL.png') }}" />
        </a>
    </div>
    </br></br>
</div>
{% endblock %}
