{% extends 'base.html.twig' %}

{% block title %}LoneWolf création{% endblock %}

{% block header %}
    {{ include('entete/_entetemenu.html.twig') }}    
{% endblock %}

{% block body %}

<div class="form-crea">
{# {{form(heroForm)}} #}
{{form_start(heroForm)}}

    {# nom du hero #}
    <div class="text-align-center mt-1">
       
        {{form_label(heroForm.name)}}
        {{ form_widget(heroForm.name) }}
        
    </div>
    <div class="col-12 mt-1 text-center">
        <img style="width:100px;" src="{{ asset ('assets/img/decodiv.png') }}" />
    </div>
  {# compétence combat & endurance #}
    <div class="d-inline-flex justify-content-evenly col-12 mt-1 ">   
            
      {# combat #}
        <div class="comp">
          <p class="nanum "> Combat Skill </p>
          <input class="text-center mb-1" type="text" id="combat" name="combatSkill" placeholder="10"  readonly/>
        </div>
      {# endurance #}
        <div class="comp">
          <p class="nanum"> Endurance </p>
          <input class="text-center mb-1" type="text" id="endurance" name="endurance" placeholder="20" readonly/>
        </div>
      {# gold #}
        <div class="comp">
          <p class="nanum"> Gold </p>
            <input class="text-center mb-5" type="text" id="gold" name="gold" placeholder="0" readonly/>
        </div>
    </div>
    <div class=" align-self-center mb-5" id="roll">
          <button
            type="button"
            id="rolldice"
            class="rounded-circle btn-primary m-0 " 
            onclick="showCarac()"
          > Roll </button>
    </div> 

     

  <div class="col-12 mt-1 text-center mb-5">
    <img style="width:100px;" src="{{ asset ('assets/img/decodiv.png') }}" />
  </div>

<h2> Disciplines Kais </h2>
  <div class="col-12 mt-1 text-center">
    {# compétence liste détaillée #}
    <!-- Bouton lance popup -->
    <a class="btn text-decoration-none paperRoll" data-bs-toggle="modal" data-bs-target="#listeDisciplines">
      <img class=""  src="{{ asset ('assets/img/ico-paperRoll.png') }}" />
      {# <p class="ms-3 nanum" style=" ">Disciplines </p> #}
    </a>
  
    <!-- popup disciplines -->
      <div class="modal fade" id="listeDisciplines" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="listeDisciplinesLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="listeDisciplinesLabel" style="font-family:'Dr Sugiyama', cursive;">Les Disciplines Kai</h2>
              <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                  <img class="" style="width:36px;" src="{{ asset ('assets/img/cross-ico.png') }}" /> 
              </button>
            </div>
            <div class="modal-body">
              {{ include('disciplinesKai/_disciplinesKai.html.twig') }}
            </div>
          </div>
        </div>
      </div>

    {# choix des 5 disciplines Kai #}
      <p class="mt-5" > Choisissez 5 disciplines Kai </p>
            
      <div class="d-flex justify-content-around ">
          <div class="nanum  check-label">
            <div class="d-flex mb-5">  {{ form_widget(heroForm.kaiSix) }}   <span > Sixth sens </span>
             {# {{form_label(heroForm.kaiSix)}}  #}
            </div>
            <div class="d-flex mb-5">  {{ form_widget(heroForm.kaiTrack) }}  <span > Tracking </span> </div>
            <div class="d-flex mb-5">  {{ form_widget(heroForm.kaiHeal) }}    <span > Healing </span></div>
            <div class="d-flex mb-5">  {{ form_widget(heroForm.kaiCamou) }}  <span > Camouflage </span> </div>
            <div class="d-flex mb-5">  {{ form_widget(heroForm.kaiWeapon) }} <span > Weapon Mastery </span> </div>
          </div>
          <div class="nanum check-label text-start mx-3"> 
            <div class="d-flex mb-5">  {{ form_widget(heroForm.kaiMBlast) }}  <span > Mindblast </span> </div>
            <div class="d-flex mb-5">  {{ form_widget(heroForm.kaiMShield) }} <span > Mindshield </span> </div>
            <div class="d-flex mb-5">  {{ form_widget(heroForm.kaiAnimal) }}  <span > Animal Kinship </span>  </div>
            <div class="d-flex mb-5">  {{ form_widget(heroForm.kaiHunt) }}    <span > Hunting </span> </div>
            <div class="d-flex mb-5">  {{ form_widget(heroForm.kaiMoM) }}     <span > Mind over Matter </span>  </div>
          </div>
      </div>
 
    {# champs masqués autocomplétés #}
    <div hidden >      
      {{ form_widget(heroForm.endMax,  {'attr': {'value': '$(#endurance.val())' }}) }}
      {{ form_widget(heroForm.endurance, {'attr': {'value': '$(#endurance.val())' }}) }}
      {{ form_widget(heroForm.combatSkill, {'attr': {'value': '$(#combat.val())' }}) }}  
      {{ form_widget(heroForm.specialBag, {'attr': {'value': 1 }}) }} 
      {{ form_widget(heroForm.backpack, {'attr': {'value': 1 }}) }}
      {{ form_widget(heroForm.gold, {'attr': {'value': '$(#gold).val())' }}) }}
      {{ form_widget(heroForm.page, {'attr': {'value': null }}) }}
      {{ form_widget(heroForm.weapon)}} 

      
  </div>

{# bouton validation #}    
    <div class="validation_bouton " id="validation_bouton" style="display:none;">
       
      {{form_label(heroForm.validation, {'attr': { 'class':"btn btn-primary p-0"  }} )}}
      {{ form_widget(heroForm.validation) }}
    
    </div>
     
{# </form> #}
{{ form_end(heroForm) }}
</div>
</br> </br>
 
{% endblock %}
